<br/>
<div *ngIf="productId || isNewproduct">
<p>Maintain selected product!</p>
<p>Product ID:
    <input type="text" [value]="productId" (input)="inputId($event)" numberOnly required minlength="2"/></p> 
<p>Product name:
    <input type="text" [value]="productName" (input)="inputName($event)" /></p>
<p>Price:
    <input type="text" [value]="productPrice" (input)="inputPrice($event)" numberOnly /></p>
<br/>
<button class = "button-event" [ngClass] = "isNewproduct ? 'active' : 'inactive'"
    [disabled]="!isNewproduct" (click)="addProduct()">Add Product</button>
<button class = "button-event" [ngClass] = "!isNewproduct ? 'active' : 'inactive'"
    [disabled]="isNewproduct" (click)="updateProduct()">Update Product</button>
<button class = "button-event" [ngClass] = "!isNewproduct ? 'active' : 'inactive'"
    [disabled]="isNewproduct" (click)="removeProduct()">Remove Product</button>
</div>