<h2>Product Maintenance</h2>
<div class = "center-align" style="width: 100%;">
    <div style="float:left; width: 50%">
        <span>Select product to update/remove..</span>
        <app-product-list 
            [products]="products" 
            (selectedProdctId)="onClick($event)">
        </app-product-list>
        <button class="button" style="vertical-align:middle" 
        (click)="isNewproduct = true">
        <span>Add New Product</span></button>
    </div>
    <div>   
        <app-product-maintenance 
            [productId]="product?.id?.toString() || ''"
            [productName]="product?.name?.toString() || ''"
            [productPrice]="product?.price?.toString() || ''"
            [isNewproduct]="isNewproduct">
        </app-product-maintenance>
    </div>